
<div class="container center-block">

  <h3 class="text-center">This is Tom. I am Tom</h3>

  <p>
    Thanks for stopping by. This blog was a Rails application that was built during my time at CodeCore Bootcamp. It was the first project that we started with as we learned about Rails from having zero background. A blog seems to be the first project for learning rails as evidenced by the <a href="http://guides.rubyonrails.org/getting_started.html#creating-the-blog-application">Ruby On Rails guide</a>, so while it isn't unique or incredibly impressive, I can understand why it is used as a starting point for beginners. 

    <p>Please feel free to check out some of the functionalities of this application. Make an account. Create some posts. Find some bugs. Let me know what I can improve on!</p>

    Cheers </br>
    Tom
  </p>
  
</div>
